/* PROJECTS STYLES */
main {
    animation: fadeUp 0.8s ease-out both;
}

#proyectos {
    max-width: 900px;
    margin: 0 auto 120px;
    padding: 0 20px;
}

.project-title-section {
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-weight: 400;
}

.project-article {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(25px);

    animation: revealScroll 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.projects-card {
    position: relative;
    padding: 26px 28px;
    border-radius: 18px;
    background-color: #f5f5f5;
    border: 1.7px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 26px -16px rgba(0, 0, 0, 0.45);

    transition: 
        transform .3s ease,
        box-shadow .3s ease,
        border-color .3s ease;
    
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 16px 36px -18px rgba(0,0,0,0.55);
        border-color: var(--ryu-green);
    }
}

.project-name {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 14px;
}

.project-description-div {
    line-height: 1.6;
}

.project-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
    opacity: 0.9;
}

.project-technologies {
    margin-top: 14px;
    font-size: 0.85rem;
    padding: 10px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    & span {
        font-weight: 500;
        opacity: 0.85;
    }
}

/* FOOTER STYLES */
.footer-about {
    padding-top: 35px;
}

#contacto {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--paper-beige);
    background-color: rgba(255,255,255,0.15);
    transition: 
        transform 0.18s cubic-bezier(.34,1.56,.64,1),
        box-shadow 0.25s ease-out,
        filter 0.25s ease-out;
    &:hover {
        transform: scale(0.92) rotate(-4deg);

        box-shadow:
            0 0 0 1.5px var(--paper-beige);
        fill: var(--oni-black);
    }

    & svg{
        width: 20px;
        height: 20px;
    }
}