

/* FOOTER STYLES */
.footer-about {
    padding-top: 35px;
}

#contacto {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--paper-beige);
    background-color: rgba(255,255,255,0.15);
    transition: 
        transform 0.18s cubic-bezier(.34,1.56,.64,1),
        box-shadow 0.25s ease-out,
        filter 0.25s ease-out;
    &:hover {
        transform: scale(0.92) rotate(-4deg);

        box-shadow:
            0 0 0 1.5px var(--paper-beige);
        fill: var(--oni-black);
    }

    & svg{
        width: 20px;
        height: 20px;
    }
}